# Python
__pycache__/
*.py[cod]
venv/
.venv/
*.db

# Node
node_modules/
dist/

# Env / secrets
.env
*.local

# OS / editor
.DS_Store
.vscode/
.idea/

# TS build info
*.tsbuildinfo
vite.config.js
vite.config.d.ts
